#body-details {
   background-color: #24325f99;
    
}

.logo {
    width: 50%;
}

.border-green {
    color: #97ce4c;
}

btn-info {
   color: #5AC1B8;
}

.card-details {
    background-color: #c8dbe399;
}

